.wrapper {
  position: relative;
  cursor: pointer;
  width: 70vw;
  height: 50vh;
}

.image {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: .2s;
}
