.wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 280px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
  border-color: #53b374;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.text {
  color: #737476;
  font-size: 14px;
}


