.wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 220px;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #53b374;
  margin-right: 18px;
  margin-bottom: 12px;
  background-color: rgba(83, 179, 116, 0.16);

  &.blocked {
    border: 1px solid #ff6a59;
    background-color: rgba(255, 106, 89, 0.16);

  }
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.text {
  color: #737476;
  font-size: 14px;
}

.link {
  font-size: 12px;
  margin-right: 12px;
}

.inlineRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}


