.input {
  width: 360px;
  height: 40px;
  margin: 1px 0;
  padding: 11px 12px;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  box-sizing: border-box;
  color: rgb(255, 106, 89);
  background-color: #fff;
  border: 1px solid #070707;
}
