.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #53b374;
  border-radius: 4px;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  width: max-content;

  &:hover {
    border: 1px solid #ff6a59;
  }
}
