.tableWrapper {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: grid;
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;

  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  min-height: 70px;
  font-size: 16px;
  color: #737476;
  grid-gap: 0 12px;
  transition: background-color .4s;

  &.title {
    background-color: #edeeee;
    font-weight: bold;
  }

  &.content {
    border-bottom: 1px dashed #C9CBCD;
  }
}

.inputWrapper {
  margin: 12px;
}

.notFound {
  font-weight: bold;
  margin: 12px;
}

.contentWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.loading {
    background-color: #383a3a;
    opacity: .5;
  }
}

.loadingTitle {
  text-transform: uppercase;
  position: absolute;
  font-weight: bolder;
  font-size: 42px;
  color: #ff6a59;
}

.goCardLink {
  margin: 8px;
}


